
<div class="mt-5">
    <ul class="text-primary">

        <li>  @Html.ActionLink("Array", "Index", "Home", new { id = 1 }, new { @class = "text-white" })      </li>
        <li>  @Html.ActionLink("Binary Tree", "Index", "Home", new { id = 2 }, new { @class = "text-white" })</li>
        <li>  @Html.ActionLink("Graph", "Index", "Home", new { id = 3 }, new { @class = "text-white" })      </li>
        <li>  @Html.ActionLink("Hash Table", "Index", "Home", new { id = 4 }, new { @class = "text-white" }) </li>
        <li>  @Html.ActionLink("Heap", "Index", "Home", new { id = 5 }, new { @class = "text-white" })       </li>
        <li>  @Html.ActionLink("Linked List", "Index", "Home", new { id = 6 }, new { @class = "text-white" })</li>
        <li>  @Html.ActionLink("Queue", "Index", "Home", new { id = 7 }, new { @class = "text-white" })      </li>
        <li>  @Html.ActionLink("Set", "Index", "Home", new { id = 8 }, new { @class = "text-white" })        </li>
        <li>  @Html.ActionLink("Stack", "Index", "Home", new { id = 9 }, new { @class = "text-white" })      </li>
        <li>  @Html.ActionLink("Tree", "Index","Home", new { id = 10 }, new { @class = "text-white" })       </li>
        

    </ul>

</div>
